<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>PCIAudioDriver</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1337</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>PCIAudioDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.CMedia.CMI8788.PCIAudioDriver</string>
			<key>IOClass</key>
			<string>com_CMedia_CMI8788_PCIAudioDevice</string>
			<key>IOPCIMatch</key>
			<string>0x000113F6 0x001013F6 0x878813F6 0xA017147A 0x09101A58 0x84671043 0x85211043 0x878213F6 0xFFFF13F6 0x171014C3 0x171114C3 0x501113F6 0x5431415A 0x017A5431 0x97617284 0x97817284 0x82691043 0x82751043 0x82b71043 0x83141043 0x83271043 0x834F1043 0x835C1043 0x835D1043 0x835E1043 0x838E1043 0x84281043 0x85221043 0x85F41043</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 CMedia. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOAudioFamily</key>
		<string>203.3</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.kec.pthread</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>16.7</string>
		<key>com.apple.kpi.iokit</key>
		<string>16.7</string>
		<key>com.apple.kpi.libkern</key>
		<string>16.7</string>
		<key>com.apple.kpi.mach</key>
		<string>16.7</string>
		<key>com.apple.kpi.unsupported</key>
		<string>16.7</string>
	</dict>
</dict>
</plist>
